#
# Binutils 2.34
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define binutils_version 2.34

%hash sha512 binutils-%{binutils_version}.tar.bz2 f47e7304e102c7bbc97958a08093e27796b9051d1567ce4fbb723d39ef3e29efa325ee14a1bdcc462a925a7f9bbbc9aee28294c6dc23850f371030f3835a8067
%patch add binutils --rsb-file=binutils-2.34-zlib-darwin-fdopen.patch -p1 file://%{_topdir}/patches/binutils-2.34-zlib-darwin-fdopen.patch
%hash sha512 binutils-2.34-zlib-darwin-fdopen.patch ecdc7ce221dd0459230dc8acb3edf08827bb61f9856360c0ab8ad85754e484d1c7aeabf34a7789b75a457bcf59ced8f8b418b0e5fb6721545c3fe3741a0addd8

#
# Enable deterministic archives by default. This will be the default
# there all tools using this binutils will create deterministic
# archives.
#
%define with_deterministic_archives 1

#
# Enable 64-bit BFD support
#
%define with_64_bit_bfd 1

#
# The binutils build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/binutils-2-1.cfg
